@model SistemaRequisiciones_WebApp.Models.Productos

@{
    ViewBag.Title = "Borrar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>¿Estás seguro de borrar esta requisición?</h5><hr /><br>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <label>Cantidad: </label>
        </div>
        <div class="col">
            <label>Unidad: </label>
        </div>
        <div class="col">
            <label>Descripción: </label>
        </div>
        <div class="col">
            <label>Surtido: </label>
        </div>
        <div class="col">
            <label>No. de Requisición: </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.DisplayFor(model => model.Cantidad)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Unidad)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Descripcion)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Surtido)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Requisiciones.NoRequisicion)
        </div>
    </div>
</div>
<br>

@using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <p>
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-dark pull-right" })
        </p>
    </div>
    }