@model SistemaRequisiciones_WebApp.Models.Productos

@{
    ViewBag.Title = "Detalles del Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <label>Cantidad: </label>
        </div>
        <div class="col">
            <label>Unidad: </label>
        </div>
        <div class="col">
            <label>Descripción: </label>
        </div>
        <div class="col">
            <label>Surtido: </label>
        </div>
        <div class="col">
            <label>Área: </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.DisplayFor(model => model.Cantidad)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Unidad)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Descripcion)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Surtido)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Requisiciones.Area)
        </div>
    </div>
</div>
<br>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Part }, new { @class = "btn btn-primary pull-right" })
    @Html.ActionLink("Regresar", "Index", null,new { @class = "btn btn-dark pull-right" })
</p>