@model IEnumerable<SistemaRequisiciones_WebApp.Models.Productos>

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr /><br>
@*INDEX DEL PRODUCTO*@

<p><a class="btn btn-primary" href="/Productos/Create" role="button">Nuevo</a></p>

@*Encabezado de la tabla*@
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Productos </h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body table-responsive p-0" style="height: 300px;">
    <table class="table table-head-fixed table-hover text-nowrap">
        <thead>
            <tr>
                <th>Part</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Descripción</th>
                <th>Surtido</th>
                <th>Número de requisición</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Part)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surtido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requisiciones.NoRequisicion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Part }, new { @class = "btn btn-warning pull-right btn-sm" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.Part }, new { @class = "btn btn-primary pull-right btn-sm" })
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Part }, new { @class = "btn btn-danger pull-right btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>
