@model SistemaRequisiciones_WebApp.Models.Requisiciones

@{
    ViewBag.Title = "Borrar Requisición";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>¿Estás seguro de borrar esta requisición?</h5><hr /><br>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <label>Fecha: </label>
        </div>
        <div class="col">
            <label>Área: </label>
        </div>
        <div class="col">
            <label>Tipo: </label>
        </div>
        <div class="col">
            <label>Entregar en: </label>
        </div>
        <div class="col">
            <label>Prioridad: </label>
        </div>
        <div class="col">
            <label>Fecha del surtido: </label>
        </div>
        <div class="col">
            <label>Compra/Servicio: </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.DisplayFor(model => model.Fecha)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Area)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Tipo)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.EntregarEn)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Prioridad)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.FechaSurtido)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.CompraServicio)
        </div>
    </div>
</div>
<br>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <p>
            <input type="submit" class="btn btn-danger" value="Delete" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-dark pull-right" })
        </p>
    </div>
}
