@model SistemaRequisiciones_WebApp.Models.Requisiciones

@{
    ViewBag.Title = "Detalles de la Requisición";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr/>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <label>Fecha: </label>
        </div>
        <div class="col">
            <label>Área: </label>
        </div>
        <div class="col">
            <label>Tipo: </label>
        </div>
        <div class="col">
            <label>Entregar en: </label>
        </div>
        <div class="col">
            <label>Prioridad: </label>
        </div>
        <div class="col">
            <label>Fecha del surtido: </label>
        </div>
        <div class="col">
            <label>Compra/Servicio: </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.DisplayFor(model => model.Fecha)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Area)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Tipo)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.EntregarEn)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.Prioridad)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.FechaSurtido)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.CompraServicio)
        </div>
    </div>
</div>
<br>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoRequisicion }, new { @class = "btn btn-primary pull-right" })
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-dark pull-right" })
</p>