@model SistemaRequisiciones_WebApp.Models.Requisiciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Requisiciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntregarEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntregarEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSurtido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSurtido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompraServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompraServicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoRequisicion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
