@model SistemaRequisiciones_WebApp.Models.Requisiciones

@{
    ViewBag.Title = "Editar Requisición";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr /><br>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        @*Se muestran los espacios con la información deseada para ser editada*@
        <div class="row">
            <div class="col">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.NoRequisicion)

                <div class="form-group">
                    @Html.LabelFor(model => model.Fecha, "Fecha: ")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Area, "Área: ")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Tipo, "Tipo: ")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.EntregarEn, "Entregar en: ")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EntregarEn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EntregarEn, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Prioridad, "Prioridad: ")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Prioridad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Prioridad, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.FechaSurtido, "Fecha del surtido: ")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaSurtido, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaSurtido, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.CompraServicio, "Compra/Servicio: ")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CompraServicio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CompraServicio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <br>
        @*Botones*@
        <p>
            <button type="submit" class="btn btn-primary" value="Save">Guardar</button>
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-dark pull-right" })
        </p>
    </div>
 }
