@model IEnumerable<SistemaRequisiciones_WebApp.Requisiciones>

@{
    ViewBag.Title = "Requisiciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- INDEX DE LAS REQUISICIONES-->


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoRequisicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntregarEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSurtido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompraServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoRequisicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntregarEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSurtido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompraServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productos.Descripcion)
            </td>
            <td>
                <button type="button" class="btn btn-block btn-warning btn-xs">
                    @Html.ActionLink("Editar", "Edit", new { id = item.NoRequisicion })
                </button>
                <button type="button" class="btn btn-block btn-info btn-xs">
                    @Html.ActionLink("Details", "Details", new { id = item.NoRequisicion })
                </button>
                <button type="button" class="btn btn-block btn-danger btn-xs">
                    @Html.ActionLink("Delete", "Delete", new { id = item.NoRequisicion })
                </button>
            </td>
        </tr>
    }
</table>
